h1{
    font-size:2em;
}

/* General styling for the page */
.about-us-page {
    padding: 3rem;
    color: #f1f1f1;
    background-color: var(--color--background-grey);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Page heading */
.about-us-page h2 {
    font-size:  2.5em;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Links section */
.about-us-links {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

/* Links styling */
.about-us-links a {
    color: #03a9f4;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.about-us-links a:hover {
    color: white;
    border-bottom: 2px solid dodgerblue;
}

/* Subheadings */
.about-us-links h4, .about-us-links h3 {
    margin: 1rem 0;
    color: lightgray;
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
    .about-us-page {
        padding: 2rem;
    }

    .about-us-page h2 {
        font-size: 2em;
    }

    .about-us-links h4, .about-us-links h3 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .about-us-page {
        padding: 1.5rem;
    }

    .about-us-page h2 {
        font-size: 1.5em;
    }

    .about-us-links h4, .about-us-links h3 {
        font-size: 0.9em;
    }
}


.fotogaleria-photos{
    width: auto;
}

.fotogaleria-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 4rem;
}