.Header {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--color--background-black);
    color: var(--text-color-secondary);
    min-height: 3.25rem;
    top: 0;
    left: 0;
    box-shadow: black 1px 0 3px;
    z-index: 1000;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.logo-btn {
    height: 60px;
    width: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

@media (max-width: 400px) {
    .logo-btn {
        height: 15vw;
    }
}

.logo-btn img {
    height: auto;
    width: auto;
    object-fit: contain;
    z-index: 1001;
}

.profile-btn {
    opacity: 1;
    height: 40px;
    width: auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-btn img {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.menu-links {
    display: flex;
    gap: 3rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links a, .mobile-menu a {
    color: var(--color--button-white-inactive);
    opacity: 0.75;
    background: var(--color--background-black);
    background-color: var(--color--background-grey);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
}

.nav-links a:hover, .mobile-menu a:hover {
    transition: opacity 0.3s, background-color 0.3s;
    background-color: #3a3a3a;
    opacity: 1;
    color: var(--color--button-white-active);
}

.profile-icon {
    border-radius: 100%;
    margin-left: 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    position: relative;
}

.burger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: var(--color--button-white-inactive);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--color--background-black);
    height: 100vh;
    text-align: left;
    padding: 6rem 2rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 9;
    gap: 1rem;
}

.mobile-menu.open {
    transform: translateX(0);
}

.mobile-menu a {
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: var(--color--button-white-inactive);
    text-decoration: none;
    transition: color 0.3s linear;
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    .burger-menu {
        display: flex;
    }

    .menu-links {
        display: none;
    }

    .mobile-menu {
        display: flex;
        width: 30vw;
    }

    .mobile-menu a {
        padding: 1rem 0;
        letter-spacing: 0.05rem;
        font-size: 1rem;
    }

    .profile-icon {
        height: 2rem;
    }

    .href="/login" {
        padding: 0;
    }
}

