:root {
    --white: #ffffff;
    --black: #000000;
    --color--background-grey: #2C2C2C;
    --color--background-black: #1E1E1E;
    --color--border-color: #444444;
    --color--grey-light: rgba(227, 226, 226, 0.89);

    --color--button-inactive: #438BBE;
    --color--button-active: #005693;
    --color--button-white-active: #D9D9D9;
    --color--button-white-inactive: #BFBFBF;



    --color--yellow-light: #FFFCBC;
    --color--yellow: #FEF781;
    --color--yellow-dark: #8C7420;

    --color--cyan-light: #B8F0F2;
    --color--cyan: #5F9799;
    --color--cyan-dark: #174F51;

    --color--red-light: #FBC8BE;
    --color--red: #A26F65;
    --color--red-dark: #5A271D;

    --color--green-light: #DEF1CB;
    --color--green: #859872;
    --color--green-dark: #3D502A;

    --color--blue-light: #BCD8FE;
    --color--blue: #687DB3;
    --color--blue-dark: #1F4059;




    --text-font: 'Inter', sans-serif;
    --text-color-primary: white;
    --text-color-secondary: #BFBFBF;


    /* velkosti textu */
    --title-hero: 4.5rem;
    --title-page: 3rem;
    --subtitle: 3rem;
    --heading: 1.5rem;
    --subheading: 1.25rem;
    --body-base: 16px; /* takto je mozne vsetky velkosti menit na jednom mieste vdaka pouzivanym rem jednotkam */

}

body, html {
    font-family: 'Inter', sans-serif;
    line-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color--background-black);
    min-height: 10vh;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

